*{
font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Quicksand', sans-serif;
}

body{
    margin: 10px;
}

h1{
    font-family: 'Nanum Gothic';
    font-size: 40px;
    font-weight: 400;
}

h2{
    font-family: 'IBM Plex Sans Thai Looped';
    font-size: 30px;
}

h3{
    font-size: 18px;
    text-transform: uppercase;
}
.title{
    text-align: center
}

.container{
    border: 1px solid black;
    padding: 10px;
    margin: 10px 25px;
}

.color-hippie, .color-careys, .color-dawn, .color-swiss{
    padding: 3px;
    margin: 2px auto;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.color-hippie{
    background-color: #B04B59;
}

.color-careys{
    background-color: #D8A6AD;
}

.color-dawn{
    background-color:#F6EBEC;
}

.color-swiss{
    background-color:#D7D2CE;
}

.font-panel{
    margin: 2px;
}

.Nanum-Gothic{
    font-family: 'Nanum Gothic';
}

.IBM-Plex{
    font-family: 'IBM Plex Sans Thai Looped';
}

.Quicksand{
    font-family: 'Quicksand';
}

.font-label{
    text-decoration: underline;
}

.light{
    font-weight:300;
    margin: 3px;
}

.regular{
    font-weight:400;
    margin: 3px;
}

.bold{
    font-weight: 700;
    margin: 3px;
}

.box-styles{
  font-family: 'Quicksand';
  color: #F6EBEC;
  text-align: center;
  background-color: #B04B59;
  padding: 5px;
  border: #5C351F 1px solid;
  line-height: 1.4em;
  max-width: 500px;
  border-radius: 7px;
  margin: 0 auto;
}
