body {
  background: #f5d9c7;
  color: #5C351F;
  padding: 25px;
  font-family: sans-serif;

}

p {
  background: #f5d9c7;
  color: #5C351F;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

header {
  border-color: #5C351F;
  border-width: 1px;
  background-image: url(/Users/meagan/Desktop/Projects/Dasmoto/resources/images/pattern.jpeg);
}

nav li{
  display: inline;
  padding-right: 2rem;
  text-align: center;
}

h1{
  color: #f5d9c7;
  font-family:'Quicksand', sans-serif;
  text-align: center;
  font-size:100px;
  padding: 10px;
}

h2 {
  color: #B04B59;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 18px;
  width: 500px;
  margin: 0 auto;
}

.soapimg{
  border-radius: 50%;
  margin-left: 550px;
  margin-bottom: 30px;
}

.mepic{ 
  border-radius: 50%;
  margin-left: 550px;
  margin-top: 15px;
  z-index: 1;
  position: relative;
  right: 480px;
}

#name{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  position: relative; 
  bottom: 20px;
  background-color: #B04B59;
  color: #5C351F;
  letter-spacing: 1;
}

.biopic{
  background-color: #B04B59;
  width: 400px;
  margin: 2px auto;
  position: relative;
}

.navlink{
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  color: #FFFFFF;
  padding-bottom: 7px;
}
.goals{
  color: #eeddd3;
  text-align: center;
  background-color: #A86239;
  padding: 5px;
  border: #5C351F 1px solid;
  line-height: 1.4em;
  max-width: 250px;
  border-radius: 10px;
  margin: 0 auto;
}

.degrees{
  color: #eeddd3;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  background: #A86239;
  text-align: left;
  line-height: 1.4em;
  padding: 3px;
}

.degreeinfo{
  text-align: left;
  font-size: 16px;
  color: #5C351F;
  font-style:bold;
  font-family: 'Quicksand', sans-serif;
}

.links{
  list-style: square;
}

.aboutme{
  background-color: rgba(255,203,164,.6);
  text-align: center;
  padding: 10px;
  border: #5C351F solid 1px;
  border-radius: 5px;
}

footer{
  text-align:center;
  font-size:10px;
  padding:3px;
  background-color:#5C351F;
  color: white;
  opacity: .75;
}

