h1, h2, thead, p {
    text-align: center;
}

thead, tbody, table, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

body{
    background-color: peachpuff;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #000;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}

thead{
    background-color: lightgreen;
    color: black;
    font-size: 16px;
}

table{
    background-color: #fff;
    border: 2px solid darkgreen;
    width: 750px;
    margin: 0px auto;
}

td{
    border-top: 1px solid darkgreen;
    border-right: 1px solid darkgreen;
    padding: 5px;
}

.code{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    background-color: lightpink;
}

.notes {
    text-align: left;
}

.tags{
    text-align: center;
}